@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Importing component files */
@import url("components/container.css");
@import url("components/banners.css");
@import url("components/buttons.css");
@import url("components/profil.css");
@import url("components/headers.css");

body {
  background-color: #F5F5F5;
}

h1, h2, h3, h4, h5 {
  font-family: 'Grifter';
  color: #212529;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 28px;
}

h2 {
  font-weight: 600;
  font-size: 25px;
}
.list-inline {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}
.list-inline i {
  font-size: 50px;
  margin-bottom: 15px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}

.cards {
  display: flex;
	flex-wrap: wrap;
}
.card{
  flex-basis: 250px;
	flex-grow: 1;
	margin: 10px;
}

.footer {
  text-align: center;
}

ul a {
  text-decoration: none;
}

.card_blue {
  margin: 15% 15%;
  background-color: #0353B4;
  border-radius: 15px;
  padding: 10% 15px;
  text-align: center;
  position: relative;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card_blue {
    padding: 15% 15px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card_blue {
    padding: 15% 15px;
  }
}


.div_color {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 4px 0px;
  transition: transform 0.1s;
}

.div_color:hover {
  transform: scale(1.02);
}

.blue {
  background-color: #0353B4;
}

.red {
  background-color: #D90429;
}

.green {
  background-color: #52B788;
}

.blue_2 {
  background-color: #0D3B66;
}

.text-white {
  color: #FFFFFF;
}

.presentation {
  margin: 15px 25px 15px 25px;
}

.white_card {
  margin-top: 15px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
  justify-content: center;
  text-align: center;
}

.border_solid {
  border-style: solid;
}

#non-center {
  justify-content: left;
  text-align: left;
}
