.container {
  margin: 0px 15%;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    margin: 0px 10%;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    margin: 0px 5%;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    margin: 0px 3%;
  }
}
